.app_main{width:60%; margin:0 auto;}
.row{margin-bottom:10px;}
.titMain{margin:40px auto 20px; text-align: center;}
.btn{margin-right:10px;}
.card{margin-bottom : 10px; }
.app_btn{text-align: center; margin:20px auto 50px;}