h2{font-size:40px;}
form{width:400px; border:1px solid black;
margin:0 auto 20px; width:500px; 
padding-top:20px;
}
label{margin-right:20px; text-align: left; width:70px;
display: inline-block;
}
button{width:200px; height:45px; font-size:25px;}